{
  "presets": [],
  "env": {
    "production": {
      "plugins": [
        "lodash"
        , "add-module-exports"
      ]
      , "presets": [
        ["env", {
          "modules": "umd",
          "targets": {
              "node": 4,
              "browsers": [
                "last 2 versions",
                "chrome >= 55",
                "IE >= 11"
              ],
              "uglify": true
            },
            "useBuiltIns": true
        }]
        , "minify"
      ]
    },
    "test": {
      "plugins": [
        [
          "istanbul",
          {
            "exclude": [
              "**/*_spec.js"
            ]
          }
        ],
        "rewire"
      ],
      "presets": [
        ["env", {
          "modules": false,
          "targets": {
            "browsers": [
              "last 2 versions",
              "chrome >= 55",
              "IE >= 11"
            ]
          },
          "useBuiltIns": true
        }]
      ]
    }
  }
}